<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>savoria.admin.auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>savoria.admin.auth.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>savoria.admin.auth.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCode</servlet-name>
        <servlet-class>savoria.admin.auth.SendCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>savoria.admin.product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImage</servlet-name>
        <servlet-class>savoria.admin.product.RefreshProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshListProduct</servlet-name>
        <servlet-class>savoria.admin.product.RefreshListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshProductList</servlet-name>
        <servlet-class>savoria.admin.product.RefreshProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableUser</servlet-name>
        <servlet-class>savoria.admin.auth.DisableUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableUser</servlet-name>
        <servlet-class>savoria.admin.auth.EnableUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiDeleteProduct</servlet-name>
        <servlet-class>savoria.admin.product.MultiDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>savoria.admin.product.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEditMenu</servlet-name>
        <servlet-class>savoria.admin.product.SendEditMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCode</servlet-name>
        <url-pattern>/SendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableUser</servlet-name>
        <url-pattern>/DisableUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableUser</servlet-name>
        <url-pattern>/EnableUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiDeleteProduct</servlet-name>
        <url-pattern>/MultiDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEditMenu</servlet-name>
        <url-pattern>/SendEditMenu</url-pattern>
    </servlet-mapping>
</web-app>
